<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hola Mundo</title>
  </head>
  <body>
    <h1 class="flex flex-col items-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl">Hola mundo</h1>
    <p>¡Funciona! Esta es la acción <code>hello#index</code>.</p>
  </body>
</html>
